extends ../layout

block append head
  title=fmt.message("employer-vacancy-create.title", locale)
block append content
  .container
    h1=fmt.message("employer-vacancy-create.heading", locale)
    form(name="applicantForm", action="", method="post", enctype="multipart/form-data")
      .row
        .col-md-6
          .form-group
            label(for="title")=fmt.message("employer-vacancy-create.vacancy.title", locale)
            input(type="text", class="form-control", id="title", name="title", value=vacancyForm.title, placeholder=fmt.message("employer-vacancy-create.vacancy.title", locale))
            #{errors.title}
          .form-group
            label(for="description")=fmt.message("employer-vacancy-create.vacancy.description", locale)
            textarea(class="form-control", id="description", name="description", placeholder=fmt.message("employer-vacancy-create.vacancy.description", locale))=vacancyForm.description
            #{errors.description}
          .form-group
            label(for="pay-from")
              =fmt.message("employer-vacancy-create.vacancy.salary", locale)
            .row
              .col-xs-3
                input(type="number", class="form-control", id="salaryFrom", name="salaryFrom", value=vacancyForm.salaryFrom, placeholder=fmt.message("employer-vacancy-create.vacancy.salary-from", locale))
              .col-xs-3
                input(type="number", class="form-control", id="salaryTo", name="salaryTo", value=vacancyForm.salaryTo, placeholder=fmt.message("employer-vacancy-create.vacancy.salary-to", locale))
            #{errors.salaryFrom}
          .form-group
            label(for="expirationDate")=fmt.message("employer-vacancy-create.vacancy.date-expiration", locale)
            .row
              .col-xs-5
                input.datepicker(size=16, type="text", name="expirationDate", name="expirationDate", value=vacancyForm.expirationDate, placeholder=fmt.message("employer-vacancy-create.vacancy.date-expiration", locale), data-date-format="yyyy-mm-dd")
                span.input-group-addon.autowidth#dateicon
                  span.glyphicon.glyphicon-calendar
            #{errors.expirationDate}
          .form-group
            label(for="testFile")=fmt.message("employer-vacancy-create.vacancy.test-file", locale)
            input(type="file", id="testFile", name="testFile", value=vacancyForm.testFile, placeholder=fmt.message("employer-vacancy-create.vacancy.test-file", locale))
            #{errors.testFile}
          .checkbox
            label(for="publish")=fmt.message("employer-vacancy-create.vacancy.publish", locale)
            input(type="checkbox", id="publish", name="publish", value="1", checked=vacancyForm.publish)
            input(type="hidden", name="testFileId", value=vacancyForm.testFileId)
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
            #{errors.publish}
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("employer-vacancy-create.vacancy.add", locale))=fmt.message("employer-vacancy-create.vacancy.add", locale)
