extends ../layout

block append head
  title=fmt.message("employer-show-recruiter-bids.title")
block append content
  .container
    h1=fmt.message("employer-show-recruiter-bids.h1")
    .row
      .col-md-8
        h2
        ul.list-group
          for bid in bids
            li.list-group-item
              #{bid.recruiter.user.firstName} #{bid.recruiter.user.lastName}
              a.btn.btn-link.pull-right(href = domain.getAbsoluteUrl() + "/employer-recruiter-show/" + bid.id).
                #{fmt.message("employer-show-recruiter-bids.more")}

      .col-md-4
        h2=fmt.message("employer-show-recruiter-bids.vacancy.h2")
        p #{vacancy.title}
        p #{vacancy.description}
        p=fmt.currencyRange(vacancy.salaryFrom, vacancy.salaryTo)