extends ../layout

block append head
  title=fmt.message("employer-recruiter-profile.title", locale)
block append content
  .container
    h1.text-center=fmt.message("employer-recruiter-profile.heading", locale)
    .row
      .col-md-4
        img(src=domain.getResourceUrl('/stylesheets/images/empty_avatar.jpg'))
      .col-md-8
        h2
        dl.dl-horizontal
          dt=fmt.message("employer-recruiter-profile.dt.name", locale)
          dd #{recruiter.user.firstName} #{recruiter.user.lastName}
          dt=fmt.message("employer-recruiter-profile.dt.description", locale)
          dd #{recruiter.user.description}
    h2.text-center=fmt.message("employer-recruiter-profile.feedback.h2", locale)
    table.table.table-striped
      thead
        tr
          th=fmt.message("employer-recruiter-profile.table.vacancy", locale)
          th=fmt.message("employer-recruiter-profile.table.employer", locale)
          th=fmt.message("employer-recruiter-profile.table.feedback-time", locale)
          th=fmt.message("employer-recruiter-profile.table.feedback", locale)
      tbody
        for feedback in recruiter.feedbacks
          tr
            td #{feedback.deal.vacancy.title}
            td #{feedback.employer.user.firstName} #{feedback.employer.user.lastName}
            td #{fmt.date(feedback.employerTime, locale)}
            td #{feedback.employerFeedback}
