extends ../layout

block append content
  .container
    .row
      .col-md-6
        h1=fmt.message("employer-employee-show.h1")
        h2 #{applicant.firstName} #{applicant.lastName}
        dl.dl-horizontal
          dt=fmt.message("employer-employee-show.description")
          dd #{applicant.description}
          dt=fmt.message("employer-employee-show.sex")
          dd #{applicant.sex}
          dt=fmt.message("employer-employee-show.age")
          dd #{applicant.age}
        a.btn.btn-link(href=applicant.resumeFile)=fmt.message("employer-employee-show.resume")
        a.btn.btn-link(href=applicant.testAnswerFile)=fmt.message("employer-employee-show.test")
    .row
      .col-md-6
        a.btn.btn-success(href="apply/" + applicant.id,data-toggle="confirmation", data-placement="left", data-original-title="", title="")=fmt.message("employer-employee-show.apply")
        a.btn.btn-danger(href="decline/" + applicant.id,data-toggle="confirmation", data-placement="left", data-original-title="", title="")=fmt.message("employer-employee-show.decline")