extends ../layout

block append content
  .container
    .h1=fmt.message("employer-show-recruiter-bids.h1")
    .row
      .col-md-8
        table.table.table-striped
          thead
            tr
              th=fmt.message("employer-show-recruiter-bids.recruiter")
              th
          tbody
            for bid in bids
              tr
                td #{bid.recruiter.user.firstName} #{bid.recruiter.user.lastName}
                td
                  a.btn.btn-link(href = domain.getAbsoluteUrl() + "/employer-recruiter-show/" + bid.id).
                        #{fmt.message("employer-show-recruiter-bids.more")}
      .col-md-4
        h2=fmt.message("employer-show-recruiter-bids.vacancy.h2")
        p #{vacancy.title}
        p #{vacancy.description}
        p #{vacancy.salary}