extends ../layout

block append head
  title=fmt.message("employer-recruiter-show.title", locale)
block append content
  .container
    .row
      .col-md-8
        h2=fmt.message("employer-recruiter-show.h2.recruiter", locale)
        p
          a(href = domain.buildFullUri("/employer-show-recruiter-profile/", bid.recruiter.id, locale))
            #{bid.recruiter.user.firstName} #{bid.recruiter.user.lastName}
        p #{bid.message}
      .col-md-4
        h2=fmt.message("employer-recruiter-show.h2.vacancy", locale)
        p #{bid.vacancy.title}
        p #{bid.vacancy.description}
        p=fmt.currencyRange(bid.vacancy.salaryFrom, bid.vacancy.salaryTo, locale)

    if test.canModifyRecruiterBid(bid)
      .row
        .col-md-6
          a.btn.btn-success(href=domain.buildFullUri("/employer-recruiter-approve/", bid.id, locale), data-toggle="confirmation", data-placement="left", data-original-title="", title="")
            #{fmt.message("employer-recruiter-show.apply", locale)}
          a.btn.btn-danger(href=domain.buildFullUri("/employer-recruiter-decline/", bid.id, locale), data-toggle="confirmation", data-placement="left", data-original-title="", title="")
            #{fmt.message("employer-recruiter-show.decline", locale)}
