extends ../layout

block append content
  .container
    .row
      .col-md-8
        h2=fmt.message("employer-recruiter-show.h2.recruiter")
        p #{recruiter.firstName} #{recruiter.lastName}
        p #{recruiter.terms}
      .col-md-4
        h2=fmt.message("employer-recruiter-show.h2.vacancy")
        p #{vacancy.description}
        p #{vacancy.salary}

    .row
      .col-md-6
        .a.btn.btn-success(href="#",data-toggle="confirmation", data-placement="left", data-original-title="", title="")
          #{fmt.message("employer-recruiter-show.apply")}
        .a.btn.btn-danger(href="#",data-toggle="confirmation", data-placement="left", data-original-title="", title="")
          #{fmt.message("employer-recruiter-show.decline")}
