extends ../layout

block append content
  .container
    h1=fmt.message("employer-progress-vacancy-show.h1")
    .row
      .col-md-8
        h2
        dl.dl-horizontal
          dt=fmt.message("employer-progress-vacancy-show.dt.name")
          dd #{deal.vacancy.title}
          dt=fmt.message("employer-progress-vacancy-show.dt.description")
          dd #{deal.vacancy.description}
          dt=fmt.message("employer-progress-vacancy-show.dt.salary")
          dd #{deal.vacancy.salaryFrom} - #{deal.vacancy.salaryTo}
          dt=fmt.message("employer-progress-vacancy-show.dt.creation")
          dd #{fmt.date(deal.vacancy.creationDate)}
          dt=fmt.message("employer-progress-vacancy-show.dt.expiration")
          dd #{fmt.date(deal.vacancy.expirationDate)}
      .col-md-4
        h2=fmt.message("employer-progress-vacancy-show.recruiter.h2")
        p
          #{deal.recruiter.user.firstName} #{deal.recruiter.user.lastName}
          .tools
            a.btn.btn-danger(href=domain.getAbsoluteUrl() + "/employer-fire-recruiter/" + deal.id).
              #{fmt.message("employer-progress-vacancy-show.recruiter.decline")}
    h2=fmt.message("employer-progress-vacancy-show.applicants.h2")
    .row
      .col-md-6
        ul.list-group
          for applicant in deal.applicants
            li.list-group-item
              #{applicant.firstName} #{applicant.lastName}
              a.btn.btn-link.pull-right(href = domain.getAbsoluteUrl() + "/employer-applicant-show/" + applicant.id).
                #{fmt.message("employer-progress-vacancy-show.applicants.more")}
