extends ../layout

block append content
  .container
    h1=fmt.message("employer-progress-vacancies-list.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("employer-progress-vacancies-list.table.name")
          th=fmt.message("employer-progress-vacancies-list.table.description")
          th=fmt.message("employer-progress-vacancies-list.table.creation")
          th=fmt.message("employer-progress-vacancies-list.table.recruiter")
          th
      tbody
        for deal in deals
          tr
            td #{deal.vacancy.title}
            td #{deal.vacancy.description}
            td #{deal.vacancy.creationDate}
            td #{deal.recruiter.user.firstName} #{deal.recruiter.user.lastName}
            td
              a.btn.btn-link(href = domain.getAbsoluteUrl() + "/employer-progress-vacancy-show/" + deal.id).
                    #{fmt.message("employer-progress-vacancies-list.more")}