extends ../layout

block append head
  title=fmt.message("employer-show-recruiter-bids.title", locale)
block append content
  .container
    h1=fmt.message("employer-show-recruiter-bids.h1", locale)
    .row
      .col-md-8
        h2
        ul.list-group
          for bid in bids
            li.list-group-item
              #{bid.recruiter.user.firstName} #{bid.recruiter.user.lastName}
              a.btn.btn-link.pull-right(href = domain.buildFullUri("/employer-recruiter-show/", bid.id, locale)).
                #{fmt.message("employer-show-recruiter-bids.more", locale)}

      .col-md-4
        h2=fmt.message("employer-show-recruiter-bids.vacancy.h2", locale)
        p #{vacancy.title}
        p #{vacancy.description}
        p=fmt.currencyRange(vacancy.salaryFrom, vacancy.salaryTo, locale)
        if vacancy.testFile
          a.btn.btn-link(href=domain.buildFullUri("/employer-download-attachment/", vacancy.testFile.id, locale))=fmt.message("employer-show-recruiter-bids..tests", locale)
