extends ../layout

block append head
  title=fmt.message("employer-deal.title", locale)
block append content
  .container
    h1=fmt.message("employer-deal.heading", locale)
    if test.isFeedbackStage(deal)
      .row
        .col-md-8
          h2=fmt.message("employer-deal.feedback.heading", locale)
          if test.employerLeftFeedback(deal)
            dl.dl-horizontal
              dt=fmt.message("employer-deal.feedback.left", locale)
              dd #{deal.feedback.employerFeedback}
              dt=fmt.message("employer-deal.feedback.time", locale)
              dd #{fmt.date(deal.feedback.employerTime, locale)}
              if test.recruiterLeftFeedback(deal)
                dt=fmt.message("employer-deal.feedback.recruiter-left", locale)
                dd #{deal.feedback.recruiterFeedback}
                dt=fmt.message("employer-deal.feedback.time", locale)
                dd #{fmt.date(deal.feedback.recruiterTime, locale)}
          else
            h3=fmt.message("employer-deal.feedback.leave", locale)
            form(name="", action=domain.buildFullUri("/employer-deal-leave-feedback", locale), method="post")
              .row
                .col-md-8
                  textarea(class="form-control", name="feedback", placeholder=fmt.message("employer-deal.feedback.placeholder", locale), rows="4")
              .btn-row
                .col-md-6
                  input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
                  input(type="hidden", name="id", value=deal.id)
                  input.btn.btn-success(type="submit", name="submit", value=fmt.message("employer-deal.feedback.ok", locale))

    .row.spacer
      .col-md-8
        dl.dl-horizontal
          dt=fmt.message("employer-deal.vacancy.title", locale)
          dd #{deal.vacancy.title}
          dt=fmt.message("employer-deal.vacancy.description", locale)
          dd #{deal.vacancy.description}
          dt=fmt.message("employer-deal.vacancy.salary", locale)
          dd=fmt.currencyRange(deal.vacancy.salaryFrom, deal.vacancy.salaryTo, locale)
          dt=fmt.message("employer-deal.vacancy.date-created", locale)
          dd #{fmt.date(deal.vacancy.creationDate, locale)}
          dt=fmt.message("employer-deal.vacancy.date-expiration", locale)
          dd #{fmt.date(deal.vacancy.expirationDate, locale)}
      .col-md-4
        h2.text-center=fmt.message("employer-deal.recruiter.heading", locale)
        .tools
          dl.dl-horizontal
            dt=fmt.message("employer-deal.recruiter.name", locale)
            dd
              a(href = domain.buildFullUri("/employer-show-recruiter-profile/", deal.recruiter.id, locale))
                #{deal.recruiter.user.firstName} #{deal.recruiter.user.lastName}
            dt=fmt.message("employer-deal.recruiter.terms", locale)
            dd #{deal.bid.message}
            dt=fmt.message("employer-deal.recruiter.status", locale)
            dd #{fmt.dealStatus(deal.status, locale)}
          if test.canFireRecruiter(deal)
            form(name="", action=domain.buildFullUri("/employer-fire-recruiter", locale), method="post")
              .btn-row
                .col-md-4
                .col-md-6
                  input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
                  input(type="hidden", name="id", value=deal.id)
                  input.btn.btn-danger(type="submit", name="submit", value=fmt.message("employer-deal.recruiter.decline", locale))
    h2=fmt.message("employer-deal.applicants.heading", locale)
    .row
      .col-md-6
        table.table.table-striped.employerApplicantView
          thead
            tr
              th=fmt.message("employer-deal.applicants.title", locale)
              th=fmt.message("employer-deal.applicants.date-created", locale)
              th
              th
          tbody
            for applicant in deal.applicants
              tr
                td
                  a.help(href = "#", employer-applicant=applicant.id)
                    if test.isApplicantNew(applicant)
                      strong
                        #{applicant.firstName} #{applicant.lastName}
                    else
                      #{applicant.firstName} #{applicant.lastName}

                td #{fmt.date(applicant.dateCreated, locale)}
                td
                  .btn-group.btn-group-xs
                    if test.canApplyApplicant(applicant, deal)
                      button.btn.btn-success.applicantApply(data-id = applicant.id)
                        #{fmt.message("employer-deal.applicants.approve", locale)}
                    if test.appliedApplicant(applicant)
                      button.btn.btn-success.applicantApply(data-id = applicant.id, disabled)
                        #{fmt.message("employer-deal.applicants.approved", locale)}
                td
                  .btn-group.btn-group-xs
                    if test.canDeclineApplicant(applicant, deal)
                      button.btn.btn-danger.applicantDecline(data-id = applicant.id)
                        #{fmt.message("employer-deal.applicants.decline", locale)}
                    if test.declinedApplicant(applicant)
                      button.btn.btn-danger.applicantDecline(data-id = applicant.id, disabled)
                        #{fmt.message("employer-deal.applicants.declined", locale)}

    h2=fmt.message("employer-deal.chat.heading", locale)
    .row.h4
      .col-md-2=fmt.message("employer-deal.chat.from", locale)
      .col-md-2=fmt.message("employer-deal.chat.time", locale)
      .col-md-6=fmt.message("employer-deal.chat.message", locale)
    #chat

    form#messagesend
      if test.canSendMessage(deal)
        .row
          .col-md-6
            label(for="message")=fmt.message("employer-deal.chat.enter-message", locale)
            textarea(class="form-control", name="message", placeholder=fmt.message("employer-deal.chat.enter-message", locale), rows="4")
        .btn-row
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("employer-deal.chat.send", locale))
      input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
      input(type="hidden", name="id", value=deal.id)
      input(type="hidden", name="role", value="employer")
