extends ../layout

block append head
  title=fmt.message("employer-applicant-show.title", locale)
block append content
  .container
    .row
      .col-md-6
        h1=fmt.message("employer-applicant-show.h1", locale)
        h2 #{applicant.firstName} #{applicant.lastName}
        dl.dl-horizontal
          dt=fmt.message("employer-applicant-show.description", locale)
          dd #{applicant.description}
          dt=fmt.message("employer-applicant-show.sex", locale)
          dd #{applicant.sex}
          dt=fmt.message("employer-applicant-show.age", locale)
          dd #{applicant.age}
        if applicant.resumeFile
          a.btn.btn-link(href=domain.buildFullUri("/employer-download-attachment/", applicant.resumeFile.id, locale))=fmt.message("employer-applicant-show.resume", locale)
        if applicant.testAnswerFile
          a.btn.btn-link(href=domain.buildFullUri("/employer-download-attachment/", applicant.testAnswerFile.id, locale))=fmt.message("employer-applicant-show.test", locale)
    if test.isApplicantEditable(applicant, applicant.deal)
      .row
        .col-md-6
          a.btn.btn-success(href=domain.buildFullUri("employer-applicant-show/apply/", applicant.id, locale),data-toggle="confirmation", data-placement="left", data-original-title="", title="")=fmt.message("employer-applicant-show.apply", locale)
          a.btn.btn-danger(href=domain.buildFullUri("employer-applicant-show/decline/", applicant.id, locale),data-toggle="confirmation", data-placement="left", data-original-title="", title="")=fmt.message("employer-applicant-show.decline", locale)
    a.btn.btn-link(href=domain.buildFullUri("/employer-progress-vacancy-show/", applicant.deal.id, locale))=fmt.message("employer-applicant-show.return", locale)
