extends ../layout

block append head
  title=fmt.message("employer-recruiter-show.title")
block append content
  .container
    .row
      .col-md-8
        h2=fmt.message("employer-recruiter-show.h2.recruiter")
        p #{bid.recruiter.user.firstName} #{bid.recruiter.user.lastName}
        p #{bid.message}
      .col-md-4
        h2=fmt.message("employer-recruiter-show.h2.vacancy")
        p #{bid.vacancy.title}
        p #{bid.vacancy.description}
        p #{bid.vacancy.salaryFrom} - #{bid.vacancy.salaryTo}

    .row
      .col-md-6
        a.btn.btn-success(href=domain.getAbsoluteUrl()+"/employer-recruiter-approve/" + bid.id, data-toggle="confirmation", data-placement="left", data-href= domain.getAbsoluteUrl() + "/employer-recruiter-show/apply", data-original-title="", title="")
          #{fmt.message("employer-recruiter-show.apply")}
        a.btn.btn-danger(href=domain.getAbsoluteUrl()+"/employer-recruiter-decline/" + bid.id, data-toggle="confirmation", data-placement="left", data-href= domain.getAbsoluteUrl() + "/employer-recruiter-show/decline", data-original-title="", title="")
          #{fmt.message("employer-recruiter-show.decline")}
