extends ../layout

block append content
  .container
    h2=fmt.message("employer-vacancy-create.title")
    form(name="applicantForm", action="", method="post", enctype="multipart/form-data")
      .row
        .col-md-6
          .form-group
            label(for="name")
            input(type="text", class="form-control", id="name", name="name", placeholder=fmt.message("employer-vacancy-create.name"))
            #{errors.name}
          .form-group
            label(for="description")
            textarea(class="form-control", id="description", name="description", placeholder=fmt.message("employer-vacancy-create.description"))
            #{errors.description}
          .form-group
            label(for="pay-from")
              =fmt.message("employer-vacancy-create.pay")
            .row
              .col-xs-3
                input(type="number", class="form-control", id="pay-from", name="pay-from", placeholder=fmt.message("employer-vacancy-create.pay-from"))
              .col-xs-3
                input(type="number", class="form-control", id="pay-to", name="pay-to", placeholder=fmt.message("employer-vacancy-create.pay-to"))
            #{errors.pay}
          .form-group
            label(for="date")
            .row
              .col-xs-4
                input(type="text", class="form-control datepicker", id="date", name="date", placeholder=fmt.message("employer-vacancy-create.date"))
            #{errors.name}
          .form-group
            label(for="testFile")=fmt.message("employer-vacancy-create.testFile")
            input(type="file", id="test-file", name="testFile", placeholder=fmt.message("employer-vacancy-create.testFile"))
            #{errors.testFile}
          //- .checkbox
          //-   label(for="public")
          //-     input(type="checkbox", id="public", name="public")
          //-     =fmt.message("employer-vacancy-create.public")
          //-   #{errors.public}
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("employer-vacancy-create.add"))=fmt.message("employer-vacancy-create.add")
