extends ../layout

block append head
  title=fmt.message("recruiter-show-vacancy.title")
block append content
  .container
    h1=fmt.message("recruiter-show-vacancy.h1")
    dl.dl-horizontal
      dt=fmt.message("recruiter-show-vacancy.dt.title")
      dd #{vacancy.title}
      dt=fmt.message("recruiter-show-vacancy.dt.description")
      dd #{vacancy.description}
      dt=fmt.message("recruiter-show-vacancy.dt.salary")
      dd=fmt.currencyRange(vacancy.salaryFrom, vacancy.salaryTo)
      dt=fmt.message("recruiter-show-vacancy.dt.creationDate")
      dd #{fmt.date(vacancy.creationDate)}
      dt=fmt.message("recruiter-show-vacancy.dt.expirationDate")
      dd #{fmt.date(vacancy.expirationDate)}
    if test.canApplyToVacancy(vacancy)
      form(name="", action="", method="post")
        .row
          .col-md-6
            textarea(class="form-control js-message-for-bid", name="message", placeholder=fmt.message("recruiter-show-vacancy.terms"), rows="4")
        .btn-row
          input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
          input.btn.btn-primary(type="submit", name="submit", value=fmt.message("recruiter-show-vacancy.apply"))
    a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-find-new-vacancies")=fmt.message("recruiter-show-vacancy.back")