extends ../layout

block append head
  title=fmt.message("recruiter-deals.title", locale)
block append content
  .container
    h1=fmt.message("recruiter-deals.h1", locale)
    form.form-sort(name="recruiterDealsFilter", id="recruiterDealsFilter", action="", method="get")
      .row
        .col-md-6
          .btn-group.btn-group-xs(data-toggle="buttons")
            label.btn.btn-default#showAll=fmt.message("recruiter-deals.form.show-all", locale)
              input(type="checkbox", name="showAll", value="1")
          .btn-group.btn-group-xs(data-toggle="buttons")
            label.btn.btn-default#hideFired=fmt.message("recruiter-deals.form.hide-fired", locale)
              input(type="checkbox", name="hideFired", value="1", checked=recruiterDealsFilter.hideFired)
            label.btn.btn-default#hideApproved=fmt.message("recruiter-deals.form.hide-approved", locale)
              input(type="checkbox", name="hideApproved", value="1", checked=recruiterDealsFilter.hideApproved)
            input(type="hidden", name="sortColumn", id="sortColumn")
            input(type="hidden", name="sortAsc", id="sortAsc")
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
    table.table.table-striped#table-sort
      thead
        tr
          th.sorting#stitle=fmt.message("recruiter-deals.table.name", locale)
          th.sorting#sdescription=fmt.message("recruiter-deals.table.description", locale)
          th.sorting#sunseen_applicants=fmt.message("recruiter-deals.table.applicants", locale)
          th.sorting#sstatus=fmt.message("recruiter-deals.table.status", locale)
          th.sorting#screation_date=fmt.message("recruiter-deals.table.date", locale)
          th.sorting#smax_updated_date=fmt.message("recruiter-deals.table.dateModified", locale)
      tbody
