extends ../layout

block append head
  title=fmt.message("recruiter-find-new-vacancies.title")
block append content
  .container
    h1=fmt.message("recruiter-find-new-vacancies.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-find-new-vacancies.table.name")
          th=fmt.message("recruiter-find-new-vacancies.table.description")
          th=fmt.message("recruiter-find-new-vacancies.table.date")
          th=fmt.message("recruiter-find-new-vacancies.table.bidOrDeal")
          th
      tbody
        for vacancy in vacancies
          tr
            td #{vacancy.title}
            td #{vacancy.description}
            td #{fmt.date(vacancy.creationDate)}
            if vacancy.dealId != 0
              td=fmt.message("recruiter-find-new-vacancies.table.deal")
              td
                a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + vacancy.dealId)=fmt.message("recruiter-find-new-vacancies.more")
            else
              if vacancy.bidId != 0
                td=fmt.message("recruiter-find-new-vacancies.table.bid")
                td
                  a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-bid-vacancy/" + vacancy.bidId)=fmt.message("recruiter-find-new-vacancies.more")
              else
                td
                td
                  a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-vacancy/" + vacancy.id)=fmt.message("recruiter-find-new-vacancies.more")