extends ../layout

block append content
  .container
    h1=fmt.message("recruiter-active-deals.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-active-deals.table.name")
          th=fmt.message("recruiter-active-deals.table.description")
          th=fmt.message("recruiter-active-deals.table.status")
          th=fmt.message("recruiter-active-deals.table.date")
          th
      tbody
        for deal in deals
          tr
            td #{deal.vacancy.title}
            td #{deal.vacancy.description}
            td #{deal.status}
            td #{fmt.date(deal.vacancy.creationDate)}
            td
              a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + deal.id)=fmt.message("recruiter-active-deals.more")
