extends ../layout

block append head
  title=fmt.message("recruiter-vacancy.title", locale)
block append content
  .container
    h1=fmt.message("recruiter-vacancy.h1", locale)
    dl.dl-horizontal
      dt=fmt.message("recruiter-vacancy.dt.title", locale)
      dd #{vacancy.title}
      dt=fmt.message("recruiter-vacancy.dt.description", locale)
      dd #{vacancy.description}
      dt=fmt.message("recruiter-vacancy.dt.salary", locale)
      dd=fmt.currencyRange(vacancy.salaryFrom, vacancy.salaryTo, locale)
      dt=fmt.message("recruiter-vacancy.dt.creationDate", locale)
      dd #{fmt.date(vacancy.creationDate, locale)}
      dt=fmt.message("recruiter-vacancy.dt.expirationDate", locale)
      dd #{fmt.date(vacancy.expirationDate, locale)}
      if vacancy.testFile
        dt=fmt.message("recruiter-vacancy.dt.tests", locale)
        dd
          a(href=domain.buildFullUri("/recruiter-download-attachment/", vacancy.testFile.id, locale))=fmt.message("recruiter-vacancy.dd.tests", locale)
    if test.canApplyToVacancy(vacancy)
      form(name="", action="", method="post")
        .row
          .col-md-6
            textarea(class="form-control js-message-for-bid", name="message", placeholder=fmt.message("recruiter-vacancy.terms", locale), rows="4")
        .btn-row
          input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
          input.btn.btn-primary(type="submit", name="submit", value=fmt.message("recruiter-vacancy.apply", locale))
    a.btn.btn-link(href=domain.buildFullUri("/recruiter-find-new-vacancies", locale))=fmt.message("recruiter-vacancy.back", locale)