extends ../layout

block append content
  .container
    h2=fmt.message("recruiter-edit-applicant.title")
    form(name="applicantForm", action="", method="post", enctype="multipart/form-data")
      .row
        .col-md-6
          .form-group
            label(for="firstName")
            input(type="text", class="form-control", id="firstName", name="firstName", placeholder=fmt.message("recruiter-edit-applicant.firstName"), value=applicantForm.firstName)
            #{errors.firstName}
          .form-group
            label(for="lastName")
            input(type="text", class="form-control", id="lastName", name="lastName", placeholder=fmt.message("recruiter-edit-applicant.lastName"), value=applicantForm.lastName)
            #{errors.lastName}
          .form-group
            label(for="description")
            textarea(class="form-control", id="description", name="description", placeholder=fmt.message("recruiter-edit-applicant.description"))#{applicantForm.description}
            #{errors.description}
          .form-group
            label(for="resumeFile")=fmt.message("recruiter-edit-applicant.resumeFile")
            input(type="file", id="resumeFile", name="resumeFile", placeholder=fmt.message("recruiter-edit-applicant.resumeFile"), value=applicantForm.resumeFile)
            #{errors.resumeFile}
          .form-group
            label(for="testAnswerFile")=fmt.message("recruiter-edit-applicant.testAnswerFile")
            input(type="file", id="testAnswerFile", name="testAnswerFile", placeholder=fmt.message("recruiter-edit-applicant.testAnswerFile"), value=applicantForm.testAnswerFile)
            #{errors.testAnswerFile}
          .form-group
            input(type="hidden", id="dealId", name="dealId", value=applicantForm.dealId)
            input(type="hidden", id="id", name="id", value=applicantForm.id)
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("recruiter-edit-applicant.save"))=fmt.message("recruiter-edit-applicant.save")
          a.btn.btn-link(href="#")
            a(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + applicantForm.dealId)=fmt.message("recruiter-edit-applicant.back")