extends ../layout

block append head
  title=fmt.message("recruiter-show-in-progress-vacancy.title", locale)
block append content
  .container
    h1=fmt.message("recruiter-show-in-progress-vacancy.h1", locale)
    .row
      .col-md-8
        h2
        dl.dl-horizontal
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.title", locale)
          dd #{deal.vacancy.title}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.description", locale)
          dd #{deal.vacancy.description}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.salary", locale)
          dd=fmt.currencyRange(deal.vacancy.salaryFrom, deal.vacancy.salaryTo, locale)
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.creationDate", locale)
          dd #{fmt.date(deal.vacancy.creationDate, locale)}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.expirationDate", locale)
          dd #{fmt.date(deal.vacancy.expirationDate, locale)}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.status", locale)
          dd #{fmt.dealStatus(deal.status, locale)}
          if test.isRecruiterFired(deal)
            dt=fmt.message("recruiter-show-in-progress-vacancy.dt.fire_reason", locale)
            dd #{deal.fireReason}
          if deal.vacancy.testFile
            dt=fmt.message("recruiter-show-in-progress-vacancy.dt.tests", locale)
            dd
              a(href=domain.buildFullUri("/recruiter-download-attachment/", deal.vacancy.testFile.id, locale))=fmt.message("recruiter-show-in-progress-vacancy.dd.tests", locale)

      .col-md-4
        h2=fmt.message("recruiter-show-in-progress-vacancy.employer", locale)
        p
          a(href = domain.buildFullUri("/recruiter-show-employer-profile/", deal.vacancy.employer.id, locale))
            #{deal.vacancy.employer.user.firstName} #{deal.vacancy.employer.user.lastName}


    h2=fmt.message("recruiter-show-in-progress-vacancy.h2", locale)
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-show-in-progress-vacancy.table.firstName", locale)
          th=fmt.message("recruiter-show-in-progress-vacancy.table.lastName", locale)
          th=fmt.message("recruiter-show-in-progress-vacancy.table.status", locale)
          th=fmt.message("recruiter-show-in-progress-vacancy.table.creationDate", locale)
          th=fmt.message("recruiter-show-in-progress-vacancy.table.viewed", locale)
          th
      if deal.applicants
        for applicant in deal.applicants
          tr
            td #{applicant.firstName}
            td #{applicant.lastName}
            td #{fmt.applicantStatus(applicant.status, locale)}
            td #{fmt.date(deal.vacancy.creationDate, locale)}
            td
              if applicant.viewed
                #{fmt.message("recruiter-show-in-progress-vacancy.table.viewed", locale)}
            td
              if test.isApplicantEditable(applicant, deal)
                a.btn.btn-link.pull-right(href= domain.buildFullUri("/recruiter-edit-applicant/", applicant.id, locale))=fmt.message("recruiter-show-in-progress-vacancy.table.change", locale)
    if test.canAddApplicant(deal)
      a.btn.btn-success(href= domain.buildFullUri("/recruiter-add-applicant/", deal.id, locale))=fmt.message("recruiter-show-in-progress-vacancy.add", locale)
    h2=fmt.message("recruiter-show-in-progress-vacancy.chat", locale)
    .row.h4
      .col-md-2=fmt.message("recruiter-show-in-progress-vacancy.chat.from", locale)
      .col-md-1=fmt.message("recruiter-show-in-progress-vacancy.chat.time", locale)
      .col-md-6=fmt.message("recruiter-show-in-progress-vacancy.chat.message", locale)
    #chat

    form#messagesend
      .row
        .col-md-6
          textarea(class="form-control", name="message", placeholder=fmt.message("recruiter-show-in-progress-vacancy.chat.enter-message", locale), rows="4")
      .btn-row
        input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
        input(type="hidden", name="id", value=deal.id)
        input(type="hidden", name="role", value="recruiter")
        input.btn.btn-success(type="submit", name="submit", value=fmt.message("recruiter-show-in-progress-vacancy.chat.send", locale))


