extends ../layout

block append content
  .container
    h2 Редактирование профиля кандидата
    form(name="applicantForm", action="", method="post", enctype="multipart/form-data")
      .row
        .col-md-6
          .form-group
            label(for="firstName")
            input(type="text", class="form-control", id="firstName", name="firstName", placeholder="Имя", value=applicantForm.firstName)
            #{errors.firstName}
          .form-group
            label(for="lastName")
            input(type="text", class="form-control", id="lastName", name="lastName", placeholder="Фамилия", value=applicantForm.lastName)
            #{errors.lastName}
          .form-group
            label(for="description")
            textarea(class="form-control", id="description", name="description", placeholder="Описание")#{applicantForm.description}
            #{errors.description}
          .form-group
            label(for="resumeFile") Прикрепить резюме
            input(type="file", id="resumeFile", name="resumeFile", placeholder="Прикрепить резюме", value=applicantForm.resumeFile)
            #{errors.resumeFile}
          .form-group
            label(for="testAnswerFile") Ответы на тест
            input(type="file", id="testAnswerFile", name="testAnswerFile", placeholder="Ответы на тест", value=applicantForm.testAnswerFile)
            #{errors.testAnswerFile}
          .form-group
            input(type="hidden", id="dealId", name="dealId", value=applicantForm.dealId)
            input(type="hidden", id="id", name="id", value=applicantForm.id)
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
          input.btn.btn-success(type="submit", name="submit", value="Добавить") Сохранить
          a.btn.btn-link(href="#")
            a(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + applicantForm.dealId) К описанию вакансии