extends ../layout

block append head
  title=fmt.message("recruiter-find-new-vacancies.title", locale)
block append content
  .container
    h1=fmt.message("recruiter-find-new-vacancies.h1", locale)
    form(name="vacanciesFilter", id="vacanciesFilter", action="", method="get")
      .row
        .col-md-3
          .input-group
            label(for="searchText")
            input.inputtext(type="text", id="searchText", name="searchText", value=vacanciesFilter.searchText, placeholder=fmt.message("recruiter-find-new-vacancies.form.search", locale))
            span.input-group-addon.autowidth
              span.glyphicon.glyphicon-search
        .col-md-6
          .btn-group.btn-group-xs(data-toggle="buttons")
            label.btn.btn-default#showAll=fmt.message("recruiter-find-new-vacancies.form.show-all", locale)
              input(type="checkbox", name="showAll", value="1")
          .btn-group.btn-group-xs(data-toggle="buttons")
            label.btn.btn-default#hideVacancies=fmt.message("recruiter-find-new-vacancies.form.hide-vacancies", locale)
              input(type="checkbox", name="hideVacancies", value="1", checked=vacanciesFilter.hideVacancies)
            label.btn.btn-default#hideBids=fmt.message("recruiter-find-new-vacancies.form.hide-bids", locale)
              input(type="checkbox", name="hideBids", value="1", checked=vacanciesFilter.hideBids)
            label.btn.btn-default#hideDeals=fmt.message("recruiter-find-new-vacancies.form.hide-deals", locale)
              input(type="checkbox", name="hideDeals", value="1", checked=vacanciesFilter.hideDeals)
      .row
        .col-md-1
          ul.pager
            li.next
              a#prevDateLink(href="#") <
        .col-md-2
          .input-group.dateadjust
            input.datepicker(type="text", size=10, name="date", data-date-format="yyyy-mm-dd", value=vacanciesFilter.date)
            span.input-group-addon.autowidth
              span.glyphicon.glyphicon-calendar
            input(type="hidden", name="sortColumn", id="sortColumn")
            input(type="hidden", name="sortAsc", id="sortAsc")
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
        .col-md-1
          ul.pager
            li.previous
              a#nextDateLink(href="#") >
    table.table.table-striped#vacancies
      thead
        tr
          th.sorting#stitle=fmt.message("recruiter-find-new-vacancies.table.name", locale)
          th.sorting#sdesc=fmt.message("recruiter-find-new-vacancies.table.description", locale)
          th.sorting#sdate=fmt.message("recruiter-find-new-vacancies.table.date", locale)
          th.sorting#stype=fmt.message("recruiter-find-new-vacancies.table.bidOrDeal", locale)
          th
      tbody