extends ../layout

block append content
  .container
    h2=fmt.message("recruiter-employee-create.title")
    form(name="applicantForm", action="", method="post", enctype="multipart/form-data")
      .row
        .col-md-6
          .form-group
            label(for="firstName")
            input(type="text", class="form-control", id="firstName", name="firstName", value=applicantForm.firstName, placeholder=fmt.message("recruiter-employee-create.firstName"))
            #{errors.firstName}
          .form-group
            label(for="lastName")
            input(type="text", class="form-control", id="lastName", name="lastName", value=applicantForm.lastName, placeholder=fmt.message("recruiter-employee-create.lastName"))
            #{errors.lastName}
          .form-group
            label(for="description")
            textarea(class="form-control", id="description", name="description", placeholder=fmt.message("recruiter-employee-create.description"))#{applicantForm.description}
            #{errors.description}
          .form-group
            label(for="resumeFile")=fmt.message("recruiter-employee-create.resumeFile")
            input(type="file", id="resumeFile", name="resumeFile", value=applicantForm.resumeFile, placeholder=fmt.message("recruiter-employee-create.resumeFile"))
            #{errors.resumeFile}
          .form-group
            label(for="testAnswerFile")=fmt.message("recruiter-employee-create.testAnswerFile")
            input(type="file", id="testAnswerFile", name="testAnswerFile", value=applicantForm.testAnswerFile, placeholder=fmt.message("recruiter-employee-create.testAnswerFile"))
            #{errors.testAnswerFile}
          .form-group
            input(type="hidden", id="dealId", name="dealId", value=applicantForm.dealId)
            input(type="hidden", id="id", name="id", value=applicantForm.id)
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("recruiter-employee-create.add"))=fmt.message("recruiter-employee-create.add")
          a.btn.btn-link(href="#")
            a(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + applicantForm.dealId)=fmt.message("recruiter-employee-create.back")