extends ../layout

block append content
  .container
    h1=fmt.message("recruiter-show-in-progress-vacancy.h1")
    .row
      .col-md-8
        h2
        dl.dl-horizontal
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.title")
          dd #{deal.vacancy.title}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.description")
          dd #{deal.vacancy.description}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.salary")
          dd #{deal.vacancy.salaryFrom} - #{deal.vacancy.salaryTo}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.creationDate")
          dd #{fmt.date(deal.vacancy.creationDate)}
          dt=fmt.message("recruiter-show-in-progress-vacancy.dt.expirationDate")
          dd #{fmt.date(deal.vacancy.expirationDate)}
      .col-md-4
        h2=fmt.message("recruiter-show-in-progress-vacancy.employer")
        p #{deal.vacancy.employer.user.firstName} #{deal.vacancy.employer.user.lastName}

    h2=fmt.message("recruiter-show-in-progress-vacancy.h2")
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-show-in-progress-vacancy.table.firstName")
          th=fmt.message("recruiter-show-in-progress-vacancy.table.lastName")
          th=fmt.message("recruiter-show-in-progress-vacancy.table.status")
          th=fmt.message("recruiter-show-in-progress-vacancy.table.creationDate")
          th
      if deal.applicants
        for applicant in deal.applicants
          tr
            td #{applicant.firstName}
            td #{applicant.lastName}
            td #{fmt.applicantStatus(applicant.status)}
            td #{fmt.date(deal.vacancy.creationDate)}
            td
              if applicant.status != 'REJECTED'
                a.btn.btn-link.pull-right(href= domain.getAbsoluteUrl() + "/recruiter-edit-applicant/" + applicant.id)=fmt.message("recruiter-show-in-progress-vacancy.table.change")

    a.btn.btn-success(href= domain.getAbsoluteUrl() + "/recruiter-add-applicant/" + deal.id)=fmt.message("recruiter-show-in-progress-vacancy.add")
