extends ../layout

block append head
  title=fmt.message("recruiter-profile.title", locale)
block append content
  .container
    h2=fmt.message("recruiter-profile.heading", locale)
    form(name="recruiterForm", action="", method="post")
      .row
        .col-md-6
          .form-group
            label(for="firstName")=fmt.message("profile.first-name", locale)
            input(type="text", class="form-control", id="firstName", name="firstName", value=recruiterForm.firstName, placeholder=fmt.message("profile.first-name", locale))
            #{errors.firstName}
          .form-group
            label(for="lastName")=fmt.message("profile.last-name", locale)
            input(type="text", class="form-control", id="lastName", name="lastName", value=recruiterForm.lastName, placeholder=fmt.message("profile.last-name", locale))
            #{errors.lastName}
          .form-group
            label(for="description")=fmt.message("profile.description", locale)
            input(type="text", class="form-control", id="description", name="description", value=recruiterForm.description, placeholder=fmt.message("profile.description", locale))
            #{errors.description}
          .form-group
            label(for="oldPassword")=fmt.message("profile.old-password", locale)
            input(type="password", class="form-control", id="oldPassword", name="oldPassword", value=recruiterForm.oldPassword, placeholder=fmt.message("profile.old-password", locale))
            #{errors.oldPassword}
          .form-group
            label(for="newPassword")=fmt.message("profile.new-password", locale)
            input(type="password", class="form-control", id="newPassword", name="newPassword", value=recruiterForm.newPassword, placeholder=fmt.message("profile.new-password", locale))
            #{errors.newPassword}
          .form-group
            input(type="hidden", id="id", name="id", value=recruiterForm.id)
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
            #{errors.id}
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("profile.submit", locale))=fmt.message("profile.submit", locale)