extends ../layout

block append content
  .container
    h1 Вакансии в работе
    table.table.table-striped
      thead
        tr
          th Наименование
          th Описание
          th Статус
          th Дата создания
          th
      tbody
        for deal in deals
          tr
            td #{deal.vacancy.title}
            td #{deal.vacancy.description}
            td #{deal.status}
            td #{deal.vacancy.creationDate}
            td
              a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + deal.id).
                Подробнее
