extends ../layout

block append head
  title=fmt.message("recruiter-control-panel.title", locale)
block append content
  .container
    h1.text-center=fmt.message("recruiter-control-panel.h1", locale)
    .row
      .col-md-9
        h2.text-center=fmt.message("recruiter-control-panel.feedback.h2", locale)
        table.table.table-striped#recruiter-feedback
          thead
            tr
              th=fmt.message("recruiter-control-panel.feedback.vacancy", locale)
              th=fmt.message("recruiter-control-panel.feedback.employer", locale)
              th=fmt.message("recruiter-control-panel.feedback.status", locale)
              th=fmt.message("recruiter-control-panel.feedback.date", locale)
          tbody
        .spacer
        h2.text-center=fmt.message("recruiter-control-panel.deals.h2", locale)
        table.table.table-striped#recruiter-deals
          thead
            tr
              th=fmt.message("recruiter-control-panel.deals.vacancy", locale)
              th=fmt.message("recruiter-control-panel.deals.employer", locale)
              th=fmt.message("recruiter-control-panel.deals.date", locale)
              th
          tbody
        a.btn.btn-link.pull-right(href=domain.buildFullUri("/recruiter-active-deals", locale))
          strong
            #{fmt.message("recruiter-control-panel.my-deals", locale)}
        .spacer
        h2.text-center=fmt.message("recruiter-control-panel.bids.h2", locale)
        table.table.table-striped#recruiter-bids
          thead
            tr
              th=fmt.message("recruiter-control-panel.bids.vacancy", locale)
              th=fmt.message("recruiter-control-panel.bids.employer", locale)
              th=fmt.message("recruiter-control-panel.bids.date", locale)
              th=fmt.message("recruiter-control-panel.bids.viewed", locale)
              th=fmt.message("recruiter-control-panel.bids.status", locale)
          tbody
        a.btn.btn-link.pull-right(href=domain.buildFullUri("/recruiter-active-bids", locale))
          strong
            #{fmt.message("recruiter-control-panel.my-bids", locale)}
      .col-md-3
        h2=fmt.message("recruiter-control-panel.about.h2", locale)
        p #{recruiter.user.firstName} #{recruiter.user.lastName}
        img(src=domain.getResourceUrl('/stylesheets/images/empty_avatar.jpg'))
        p #{recruiter.user.description}
        a.btn.btn-link(href=domain.buildFullUri("/recruiter-profile", locale))=fmt.message("recruiter-control-panel.about.profile", locale)
