extends ../layout

block append head
  title=fmt.message("recruiter-find-new-vacancies.title")
block append content
  .container
    h1=fmt.message("recruiter-find-new-vacancies.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-find-new-vacancies.table.name")
          th=fmt.message("recruiter-find-new-vacancies.table.description")
          th=fmt.message("recruiter-find-new-vacancies.table.date")
          th
      tbody
        for vacancy in vacancies
          tr
            td #{vacancy.title}
            td #{vacancy.description}
            td #{fmt.date(vacancy.creationDate)}
            td
              a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-vacancy/" + vacancy.id)=fmt.message("recruiter-find-new-vacancies.more")