extends ../layout

block append content
  .container
    h1 Просмотр вакансии
    dl.dl-horizontal
      dt Наименование
      dd #{bid.vacancy.title}
      dt Описание
      dd #{bid.vacancy.description}
      dt Диапазон з/п
      dd #{bid.vacancy.salary}
      dt Дата создания
      dd #{bid.vacancy.creationDate}
      dt Дата окончания
      dd #{bid.vacancy.expirationDate}
      dt Статус
      dd На рассмотрении у работодателя