extends ../layout

block append head
  title=fmt.message("recruiter-active-deals.title")
block append content
  .container
    h1=fmt.message("recruiter-active-deals.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-active-deals.table.name")
          th=fmt.message("recruiter-active-deals.table.description")
          th=fmt.message("recruiter-active-deals.table.applicants")
          th=fmt.message("recruiter-active-deals.table.status")
          th=fmt.message("recruiter-active-deals.table.date")
          th=fmt.message("recruiter-active-deals.table.dateModified")
          th
      tbody
        for deal in deals
          tr
            td #{deal.vacancy.title}
            td #{deal.vacancy.description}
            td(title=fmt.message("recruiter-active-deals.table.applicants.all") + ": " + deal.allApplicantCount + ' | ' + fmt.message("recruiter-active-deals.table.applicants.unseen") + ": " + deal.unseenApplicantCount + ' | ' + fmt.message("recruiter-active-deals.table.applicants.rejected") + ": " + deal.rejectedApplicantCount + ' | ' + fmt.message("recruiter-active-deals.table.applicants.viewed") + ": " + deal.viewedApplicantCount)
              span.green=deal.unseenApplicantCount
              span / #{deal.allApplicantCount} [
              span.red=deal.rejectedApplicantCount
              span /
              span.yellow=deal.viewedApplicantCount
              span ]
            td #{fmt.dealStatus(deal.status)}
            td(title=deal.vacancy.creationDate) #{fmt.date(deal.vacancy.creationDate)}
            td(title=deal.lastModified) #{fmt.date(deal.lastModified)}
            td
              a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-in-progress-vacancy/" + deal.id)=fmt.message("recruiter-active-deals.more")
    a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-clear-fired-deals")=fmt.message("recruiter-active-deals.clear.fired")
    a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-clear-approved-deals")=fmt.message("recruiter-active-deals.clear.approved")