extends ../layout

block append head
  title=fmt.message("recruiter-active-bids.title")
block append content
  .container
    h1=fmt.message("recruiter-active-bids.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-active-bids.table.name")
          th=fmt.message("recruiter-active-bids.table.description")
          th=fmt.message("recruiter-active-bids.table.status")
          th=fmt.message("recruiter-active-bids.table.date")
          th
      tbody
        for bid in bids
          tr
            td #{bid.vacancy.title}
            td #{bid.vacancy.description}
            td #{fmt.bidStatus(bid.status)}
            td #{fmt.date(bid.vacancy.creationDate)}
            td
              a.btn.btn-link(href=domain.getAbsoluteUrl() + "/recruiter-show-bid-vacancy/" + bid.id)=fmt.message("recruiter-active-bids.more")