extends ../layout

block append head
  title=fmt.message("recruiter-active-deals.title", locale)
block append content
  .container
    h1=fmt.message("recruiter-active-deals.h1", locale)
    table.table.table-striped
      thead
        tr
          th=fmt.message("recruiter-active-deals.table.name", locale)
          th=fmt.message("recruiter-active-deals.table.description", locale)
          th=fmt.message("recruiter-active-deals.table.applicants", locale)
          th=fmt.message("recruiter-active-deals.table.status", locale)
          th=fmt.message("recruiter-active-deals.table.date", locale)
          th=fmt.message("recruiter-active-deals.table.dateModified", locale)
          th
      tbody
        for deal in deals
          tr
            td #{deal.vacancy.title}
            td #{deal.vacancy.description}
            td.help(title=fmt.applicantsTooltip(deal.unseenApplicantCount, deal.allApplicantCount, deal.rejectedApplicantCount, deal.viewedApplicantCount, locale))
              span.green=deal.unseenApplicantCount
              span / #{deal.allApplicantCount} [
              span.red=deal.rejectedApplicantCount
              span /
              span.yellow=deal.viewedApplicantCount
              span ]
            td #{fmt.dealStatus(deal.status, locale)}
            td(title=deal.vacancy.creationDate) #{fmt.date(deal.vacancy.creationDate, locale)}
            td(title=deal.lastModified) #{fmt.date(deal.lastModified, locale)}
            td
              a.btn.btn-link(href=domain.buildFullUri("recruiter-show-in-progress-vacancy", deal.id, locale))=fmt.message("recruiter-active-deals.more", locale)
    a.btn.btn-success(href=domain.buildFullUri("/recruiter-clear-fired-deals", locale))=fmt.message("recruiter-active-deals.clear.fired", locale)
    a.btn.btn-success(href=domain.buildFullUri("/recruiter-clear-approved-deals", locale))=fmt.message("recruiter-active-deals.clear.approved", locale)