extends ../layout

block append head
  title=fmt.message("recruiter-bids.title", locale)
block append content
  .container
    h1=fmt.message("recruiter-bids.heading", locale)
    form.form-sort(name="recruiterBidsFilter", id="recruiterBidsFilter", action="", method="get")
      .row
        .col-md-6
          .btn-group.btn-group-xs(data-toggle="buttons")
            label.btn.btn-default#showAll=fmt.message("recruiter-bids.filter.show-all", locale)
              input(type="checkbox", name="showAll", value="1")
          .btn-group.btn-group-xs(data-toggle="buttons")
            label.btn.btn-default#hideRejected=fmt.message("recruiter-bids.filter.hide-rejected", locale)
              input(type="checkbox", name="hideRejected", value="1", checked=recruiterBidsFilter.hideRejected)
            label.btn.btn-default#hideApproved=fmt.message("recruiter-bids.filter.hide-approved", locale)
              input(type="checkbox", name="hideApproved", value="1", checked=recruiterBidsFilter.hideApproved)
            label.btn.btn-default#hideWithdrawn=fmt.message("recruiter-bids.filter.hide-withdrawn", locale)
              input(type="checkbox", name="hideWithdrawn", value="1", checked=recruiterBidsFilter.hideWithdrawn)
            input(type="hidden", name="sortColumn", id="sortColumn")
            input(type="hidden", name="sortAsc", id="sortAsc")
            input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
    table.table.table-striped#table-sort
      thead
        tr
          th.sorting(data-id="title")=fmt.message("recruiter-bids.bid.title", locale)
          th.sorting(data-id="description")=fmt.message("recruiter-bids.bid.description", locale)
          th.sorting(data-id="creation_date")=fmt.message("recruiter-bids.bid.created", locale)
          th.sorting(data-id="status")=fmt.message("recruiter-bids.bid.status", locale)
          th.sorting(data-id="lastname")=fmt.message("recruiter-bids.bid.employer", locale)
          th.sorting(data-id="viewed")=fmt.message("recruiter-bids.bid.viewed", locale)
          th=fmt.message("recruiter-bids.bid.withdraw", locale)
      tbody
