extends layout

block append content
  .container
    h1=fmt.message("employer-progress-vacancies-list.h1")
    table.table.table-striped
      thead
        tr
          th=fmt.message("employer-progress-vacancies-list.table.name")
          th=fmt.message("employer-progress-vacancies-list.table.description")
          th=fmt.message("employer-progress-vacancies-list.table.creation")
          th=fmt.message("employer-progress-vacancies-list.table.recruiter")
          th
      tbody
        for vacancy in vacancyList
          tr
            td #{vacancy.title}
            td #{vacancy.description}
            td #{vacancy.creationDate}
            td #{vacancy.recruiterName}
            td
              a.btn.btn-link(href = domain.getAbsoluteUrl() + "/employer-progress-vacancy-show/vacancy/" + vacancy.id + "/recruiter/" + vacancy.recruiterId).
                    #{fmt.message("employer-progress-vacancies-list.more")}