extends layout

block append content
  .container
    .row
      .col-md-8
        h2 Информация о рекрутёре
        p #{recruiter.firstName} #{recruiter.lastName}
        p #{recruiter.terms}
      .col-md-4
        h2 Вакансия:
        p #{vacancy.description}
        p #{vacancy.salary}

    .row
      .col-md-6
        a.btn.btn-success(href="#") Нанять
        a.btn.btn-danger(href="#") Отклонить