extends layout

block append content
  .container
    h1=fmt.message("employer-progress-vacancy-show.h1")
    .row
      .col-md-8
        h2
        dl.dl-horizontal
          dt=fmt.message("employer-progress-vacancy-show.dt.name")
          dd #{vacancy.title}
          dt=fmt.message("employer-progress-vacancy-show.dt.description")
          dd #{vacancy.description}
          dt=fmt.message("employer-progress-vacancy-show.dt.salary")
          dd #{vacancy.salary}
          dt=fmt.message("employer-progress-vacancy-show.dt.creation")
          dd #{vacancy.creationDate}
          dt=fmt.message("employer-progress-vacancy-show.dt.expiration")
          dd #{vacancy.expirationDate}
      .col-md-4
        h2=fmt.message("employer-progress-vacancy-show.recruiter.h2")
        p
          #{recruiter.firstName} #{recruiter.lastName}
          .tools
            a.btn.btn-danger(href="#",data-toggle="confirmation", data-placement="left", data-original-title="", title="").
              #{fmt.message("employer-progress-vacancy-show.recruiter.decline")}
    h2=fmt.message("employer-progress-vacancy-show.applicants.h2")
    .row
      .col-md-6
        ul.list-group
          for applicant in vacancyList
            li.list-group-item
              #{applicant.firstName} #{applicant.lastName}
              a.btn.btn-link.pull-right(href = domainName + "/employer-employee-show/" + applicant.id).
                #{fmt.message("employer-progress-vacancy-show.applicants.more")}
