!!! 5
html
  head
    title= pageName
    block head
      script(src=domainName + '/resources/js/lib/bootstrap.min.js')
      link(href=domainName + '/resources/stylesheets/lib/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href=domainName + '/resources/stylesheets/lib/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
  body
    block content
      .navbar.navbar-inverse(role="navigation")
        .container
          .navbar-header
            a.navbar-brand(href=domainName).
              Имя проекта
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              if userRole == "ROLE_RECRUITER"
                li
                  a(href=domainName + "/recruiter-vacancies-list").
                    Мои Вакансии
                li
                  a(href=domainName + "/recruiter-available-vacancies").
                    Поиск вакансии
              else
                li
                  a(href=domainName + "/recruiters/employer-recruiter-search").
                    Поиск рекрута
                li
                  a(href=domainName + "/recruiters/employer-progress-vacancies-list").
                    Вакансии с рекрутом
              li
                a(href=domainName + "/j_spring_security_logout").
                  Выйти
