!!! 5
html
  head
    meta(charset="utf-8")
    title= pageName
    block head
      script(src="http://code.jquery.com/jquery-2.0.3.js")
      script(src=domainName + '/resources/js/lib/bootstrap.js')
      script(src=domainName + '/resources/js/lib/bootstrap-confirmation.js')
      script(src=domainName + '/resources/js/confirmation.js')
      link(href=domainName + '/resources/stylesheets/lib/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href=domainName + '/resources/stylesheets/lib/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
      link(href=domainName + '/resources/stylesheets/advanced-lists.css', rel='stylesheet', type='text/css')
      link(href=domainName + '/resources/stylesheets/table.css', rel='stylesheet', type='text/css')
  body
    block content
      .navbar.navbar-inverse(role="navigation")
        .container
          .navbar-header
            a.navbar-brand(href=domainName).
              Имя проекта
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              if userRole == "ROLE_RECRUITER"
                li
                  a(href=domainName + "/recruiter-active-deals").
                    Вакансии в работе
                li
                  a(href=domainName + "/recruiter-active-bids").
                    Мои заявки
                li
                  a(href=domainName + "/recruiter-find-new-vacancies").
                    Поиск вакансии
              else
                li
                  a(href=domainName + "/employer-recruiter-search").
                    Выбор рекрутёра
                li
                  a(href=domainName + "/employer-progress-vacancies-list").
                    Вакансии с рекрутом
              li
                a(href=domainName + "/j_spring_security_logout").
                  Выйти
