!!! 5
html
  head
    title=fmt.message("login.title")
    block head
      script(src=domain.getAbsoluteUrl() + '/resources/js/lib/bootstrap.min.js')
      link(href=domain.getAbsoluteUrl() + '/resources/stylesheets/lib/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href=domain.getAbsoluteUrl() + '/resources/stylesheets/lib/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
      link(href=domain.getAbsoluteUrl() + '/resources/stylesheets/form.css', rel='stylesheet', type='text/css')
  body
    block content
      .container
        form.form-signin(role="form", action=domain.getAbsoluteUrl() + "/j_spring_security_check", method="post")
          h2.form-signin-heading=fmt.message("login.enter")
          input.form-control(type="text", name="j_username", placeholder=fmt.message("login.username"), required="", autofocus="")
          input.form-control(type="password", name="j_password", placeholder=fmt.message("login.password"), required="")
          input(type="hidden", name=csrf.getParameterName(), value=csrf.getToken())
          label.checkbox
            input(type="checkbox", value="remember-me")
            | #{fmt.message("login.remember")}
          button.btn.btn-lg.btn-primary.btn-block(name="submit", type="submit", value="Sign In")=fmt.message("login.ok")