extends layout

block append content
  .container
    h2=fmt.message("profile.title")
    form(name="applicantForm", action="", method="post", enctype="multipart/form-data")
      .row
        .col-md-6
          .form-group
            label(for="firstName")
            input(type="text", class="form-control", id="firstName", name="firstName", placeholder=fmt.message("profile.firstName"))
            #{errors.firstName}
          .form-group
            label(for="lastName")
            input(type="text", class="form-control", id="lastName", name="lastName", placeholder=fmt.message("profile.lastName"))
            #{errors.lastName}
          .form-group
            label(for="company")
            input(type="text", class="form-control", id="company", name="company", placeholder=fmt.message("profile.company"))
            #{errors.company}
          .form-group
            label(for="description")
            textarea(class="form-control", id="description", name="description", placeholder=fmt.message("profile.description"))
            #{errors.description}
          input.btn.btn-success(type="submit", name="submit", value=fmt.message("profile.submit"))=fmt.message("profile.submit")