extends layout

block append content
  .container
    h1 Вакансия, по которой идёт работа
    .row
      .col-md-8
        h2
        dl.dl-horizontal
          dt Наименование
          dd #{vacancy.title}
          dt Описание
          dd #{vacancy.description}
          dt Диапазон з/п
          dd #{vacancy.salary}
          dt Дата создания
          dd #{vacancy.creationDate}
          dt Дата окончания
          dd #{vacancy.expirationDate}
      .col-md-4
        h2 Работодатель
        p #{employer.firstName} #{employer.lastName}

    h2 Список кандидатов
    .row
      .col-md-6
        ul.list-group
          for applicant in applicantList
            li.list-group-item
              #{applicant.firstName} #{applicant.lastName}
              a.btn.btn-link.pull-right(href= domainName + "/recruiter-employee-edit/" + applicant.id).
                Изменить

        a.btn.btn-success(href= domainName + "/recruiter-employee-create/" + vacancy.id) Предложить новую кандидатуру
