extends layout

block append content
  .container
    h1 Вакансия, по которой идёт работа
    .row
      .col-md-8
        h2
        dl.dl-horizontal
          dt Наименование
          dd #{vacancy.title}
          dt Описание
          dd #{vacancy.description}
          dt Диапазон з/п
          dd #{vacancy.salary}
          dt Дата создания
          dd #{vacancy.creationDate}
          dt Дата окончания
          dd #{vacancy.expirationDate}
      .col-md-4
        h2 Работодатель
        p.
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.

    h2 Список кандидатов
    .row
      .col-md-6
        ul.list-group
          li.list-group-item
            | Иванов Иван
            button.btn.btn-link.pull-right(type="button")
              a(href= domainName + "/recruiter-employee-create/" + vacancy.id).
                Изменить
          li.list-group-item
            | Петров Пётр
            button.btn.btn-link.pull-right(type="button")
              a(href= domainName + "/recruiter-employee-create/" + vacancy.id).
                Изменить
          li.list-group-item
            | Константинопольский Константин
            button.btn.btn-link.pull-right(type="button")
              a(href= domainName + "/recruiter-employee-create/" + vacancy.id).
                Изменить

        a.btn.btn-success(href= domainName + "/recruiter-employee-create/" + vacancy.id) Предложить новую кандидатуру
